In [8]:
#Construction du Pipeline B (BRUT)
import pandas as pd

df = pd.read_csv(r"C:\Users\YOGA Slim\Documents\GitHub\projet-maladie-cardiaque-IA\BASES_Données\BASE_EDA\FRAMINGANG.csv", sep=";"  )
print(df.shape)

df.columns = [
    "sexe", "age", "niveau_etude", "fumeur", "cigarettes_par_jour",
    "traitement_hypertenseur", "antecedent_avc", "hypertension", "diabete",
    "cholesterol_total", "tension_sys", "tension_dia", "imc",
    "frequence_cardiaque", "glucose", "maladie_cardiaque_10ans"
]

df.head()

(4239, 16)

,sexe,age,niveau_etude,fumeur,cigarettes_par_jour,traitement_hypertenseur,antecedent_avc,hypertension,diabete,cholesterol_total,tension_sys,tension_dia,imc,frequence_cardiaque,glucose,maladie_cardiaque_10ans
0,1.0,39.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,195.0,106.0,70.0,26.97,80.0,77.0,0.0
1,0.0,46.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,250.0,121.0,81.0,28.73,95.0,76.0,0.0
2,1.0,48.0,1.0,1.0,20.0,0.0,0.0,0.0,0.0,245.0,127.5,80.0,25.34,75.0,70.0,0.0
3,0.0,61.0,3.0,1.0,30.0,0.0,0.0,1.0,0.0,225.0,150.0,95.0,28.58,65.0,103.0,1.0
4,0.0,46.0,3.0,1.0,23.0,0.0,0.0,0.0,0.0,285.0,130.0,84.0,23.10,85.0,85.0,0.0

In [9]:
#Renommer les colonnes
df.columns = [
    "sexe", "age", "niveau_etude", "fumeur", "cigarettes_par_jour",
    "traitement_hypertenseur", "antecedent_avc", "hypertension", "diabete",
    "cholesterol_total", "tension_sys", "tension_dia", "imc",
    "frequence_cardiaque", "glucose", "maladie_cardiaque_10ans"
]

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4239 entries, 0 to 4238
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sexe                     4238 non-null   float64
 1   age                      4238 non-null   float64
 2   niveau_etude             4133 non-null   float64
 3   fumeur                   4238 non-null   float64
 4   cigarettes_par_jour      4209 non-null   float64
 5   traitement_hypertenseur  4185 non-null   float64
 6   antecedent_avc           4238 non-null   float64
 7   hypertension             4238 non-null   float64
 8   diabete                  4238 non-null   float64
 9   cholesterol_total        4188 non-null   float64
 10  tension_sys              4238 non-null   float64
 11  tension_dia              4238 non-null   float64
 12  imc                      4219 non-null   float64
 13  frequence_cardiaque      4237 non-null   float64
 14  glucose                  3850 non-null   float64
 15  maladie_cardiaque_10ans  4238 non-null   float64
dtypes: float64(16)
memory usage: 530.0 KB

In [10]:
#Création de age_cat (variable descriptive)
df["age_cat"] = pd.cut(
    df["age"],
    bins=[0, 40, 60, 80, 120],
    labels=["<40", "40-60", "60-80", ">80"],
    right=False
)

df["age_cat"].value_counts()

age_cat
40-60    2993
60-80     690
<40       555
>80         0
Name: count, dtype: int64

In [11]:
#Définition des variables quantitatives / qualitatives
target = "maladie_cardiaque_10ans"

categorical_vars = [
    "sexe", "niveau_etude", "fumeur", "traitement_hypertenseur",
    "antecedent_avc", "hypertension", "diabete"
]

quantitative_vars = [
    "age", "cigarettes_par_jour", "cholesterol_total",
    "tension_sys", "tension_dia", "imc",
    "frequence_cardiaque", "glucose"
]

In [12]:
#Gestion des valeurs manquantes(imputation par la médiane pour les quantitatives et par la modalité la plus fréquente pour les qualitatives     )
from sklearn.impute import SimpleImputer

imputer_quant = SimpleImputer(strategy="median")
imputer_cat   = SimpleImputer(strategy="most_frequent")

df[quantitative_vars] = imputer_quant.fit_transform(df[quantitative_vars])
df[categorical_vars]  = imputer_cat.fit_transform(df[categorical_vars])

df.isnull().sum()

sexe                       0
age                        0
niveau_etude               0
fumeur                     0
cigarettes_par_jour        0
traitement_hypertenseur    0
antecedent_avc             0
hypertension               0
diabete                    0
cholesterol_total          0
tension_sys                0
tension_dia                0
imc                        0
frequence_cardiaque        0
glucose                    0
maladie_cardiaque_10ans    1
age_cat                    1
dtype: int64

In [23]:
#exclure valeur manquante sur la variable cible 
df = df[df[target].notna()]
df.isnull().sum()

sexe                       0
age                        0
niveau_etude               0
fumeur                     0
cigarettes_par_jour        0
traitement_hypertenseur    0
antecedent_avc             0
hypertension               0
diabete                    0
cholesterol_total          0
tension_sys                0
tension_dia                0
imc                        0
frequence_cardiaque        0
glucose                    0
maladie_cardiaque_10ans    0
dtype: int64

In [25]:
df.columns

Index(['sexe', 'age', 'niveau_etude', 'fumeur', 'cigarettes_par_jour',
       'traitement_hypertenseur', 'antecedent_avc', 'hypertension', 'diabete',
       'cholesterol_total', 'tension_sys', 'tension_dia', 'imc',
       'frequence_cardiaque', 'glucose', 'maladie_cardiaque_10ans'],
      dtype='object')

In [26]:
#Définir les variables catégorielles et quantitatives

categorical_vars_B = [
    "sexe", "niveau_etude", "fumeur",
    "traitement_hypertenseur", "antecedent_avc",
    "hypertension", "diabete"
]

quantitative_vars_B = [
    "age", "cigarettes_par_jour", "cholesterol_total",
    "tension_sys", "tension_dia", "imc",
    "frequence_cardiaque", "glucose"
]

In [30]:
#Split TRAIN / TEST
from sklearn.model_selection import train_test_split

X_B = df.drop(columns=["maladie_cardiaque_10ans"])
y_B = df["maladie_cardiaque_10ans"]

X_train_B, X_test_B, y_train_B, y_test_B = train_test_split(
    X_B, y_B,
    test_size=0.2,
    random_state=42,
    stratify=y_B
)
X_train_B.shape, X_test_B.shape

((3390, 15), (848, 15))

In [32]:
#Encodage One-Hot
X_train_B_enc = pd.get_dummies(
    X_train_B,
    columns=categorical_vars_B,
    drop_first=True
)

X_test_B_enc = pd.get_dummies(
    X_test_B,
    columns=categorical_vars_B,
    drop_first=True
)

# Alignement
X_train_B_enc, X_test_B_enc = X_train_B_enc.align(
    X_test_B_enc,
    join="left",
    axis=1
)

# Remplir les colonnes absentes dans le test
X_test_B_enc = X_test_B_enc.fillna(0)

X_train_B_enc.head(), X_test_B_enc.head()

(       age  cigarettes_par_jour  cholesterol_total  tension_sys  tension_dia  \
 1768  51.0                  0.0              285.0        136.5         86.5
 2948  59.0                  0.0              279.0        132.0         88.0
 888   57.0                 10.0              206.0        141.0         83.0
 2027  35.0                  3.0              282.0        111.0         84.0
 2697  43.0                 15.0              315.0        132.5         76.5

         imc  frequence_cardiaque  glucose  sexe_1.0  niveau_etude_2.0  \
 1768  24.81                 70.0     83.0     False              True
 2948  26.48                 78.0     88.0     False              True
 888   27.98                 63.0     69.0      True             False
 2027  29.42                 80.0     78.0      True              True
 2697  31.54                 95.0     78.0     False             False

       niveau_etude_3.0  niveau_etude_4.0  fumeur_1.0  \
 1768             False             False       False
 2948             False             False       False
 888              False             False        True
 2027             False             False        True
 2697             False             False        True

       traitement_hypertenseur_1.0  antecedent_avc_1.0  hypertension_1.0  \
 1768                        False               False             False
 2948                        False               False             False
 888                         False               False              True
 2027                        False               False              True
 2697                        False               False             False

       diabete_1.0
 1768        False
 2948        False
 888         False
 2027        False
 2697        False  ,
        age  cigarettes_par_jour  cholesterol_total  tension_sys  tension_dia  \
 1305  62.0                  0.0              216.0        126.0         82.0
 4133  57.0                  0.0              259.0        170.0        101.0
 2176  49.0                 20.0              247.0        150.0         88.0
 3541  47.0                 43.0              237.0        182.0        110.0
 2967  54.0                  0.0              248.0        155.0         92.5

         imc  frequence_cardiaque  glucose  sexe_1.0  niveau_etude_2.0  \
 1305  21.18                 69.0     69.0      True             False
 4133  38.17                 85.0     75.0     False             False
 2176  27.92                 75.0     74.0      True             False
 3541  28.88                 72.0     83.0      True             False
 2967  29.86                 85.0     66.0      True             False

       niveau_etude_3.0  niveau_etude_4.0  fumeur_1.0  \
 1305             False             False       False
 4133             False             False       False
 2176             False             False        True
 3541             False             False        True
 2967              True             False       False

       traitement_hypertenseur_1.0  antecedent_avc_1.0  hypertension_1.0  \
 1305                        False               False             False
 4133                        False               False              True
 2176                        False               False             False
 3541                         True               False              True
 2967                        False               False              True

       diabete_1.0
 1305        False
 4133        False
 2176        False
 3541        False
 2967        False  )

In [ ]:
#Gestion du déséquilibre de la variable cible avec SMOTE vs NON-SMOTE. (Synthetic Minority Over-sampling Technique)

In [33]:
#Version NON–SMOTE (Train original)
from imblearn.over_sampling import SMOTE

# Initialisation du SMOTE
smote = SMOTE(random_state=42)

# Application du SMOTE sur TRAIN seulement
X_train_B_smote, y_train_B_smote = smote.fit_resample(
    X_train_B_enc,
    y_train_B
)

# Vérification du nouvel équilibre
print("Avant SMOTE :", y_train_B.value_counts(normalize=True) * 100)
print("\nAprès SMOTE :", y_train_B_smote.value_counts(normalize=True) * 100)

# Vérification des dimensions
X_train_B_enc.shape, X_train_B_smote.shape

Avant SMOTE : maladie_cardiaque_10ans
0.0    84.80826
1.0    15.19174
Name: proportion, dtype: float64

Après SMOTE : maladie_cardiaque_10ans
0.0    50.0
1.0    50.0
Name: proportion, dtype: float64

((3390, 17), (5750, 17))

In [37]:
X_train_B_enc[quantitative_vars_B].describe().T

,count,mean,std,min,25%,50%,75%,max
age,3390.0,49.625959,8.566435,32.00,42.00,49.0,56.0000,70.0
cigarettes_par_jour,3390.0,8.985546,11.958597,0.00,0.00,0.0,20.0000,70.0
cholesterol_total,3390.0,236.232153,43.952449,107.00,206.00,234.0,262.0000,600.0
tension_sys,3390.0,132.382153,22.002915,83.50,117.00,128.0,144.0000,295.0
tension_dia,3390.0,82.830678,11.878272,48.00,74.50,82.0,89.5000,136.0
imc,3390.0,25.815074,4.118682,15.54,23.08,25.4,28.0675,56.8
frequence_cardiaque,3390.0,75.920059,12.016701,44.00,68.00,75.0,83.0000,143.0
glucose,3390.0,81.607375,23.005333,40.00,72.00,78.0,85.0000,394.0

In [ ]:
#Standardisation

In [35]:
#Standardisation du TRAIN NON SMOTE

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Fit sur TRAIN NON-SMOTE
scaler.fit(X_train_B_enc[quantitative_vars_B])

# Création des versions scalées
X_train_B_scaled = X_train_B_enc.copy()
X_test_B_scaled = X_test_B_enc.copy()

# Application du scaling
X_train_B_scaled[quantitative_vars_B] = scaler.transform(X_train_B_enc[quantitative_vars_B])
X_test_B_scaled[quantitative_vars_B]  = scaler.transform(X_test_B_enc[quantitative_vars_B])

In [36]:
#Standardisation du TRAIN SMOTE
scaler_smote = StandardScaler()

# Fit sur TRAIN SMOTE
scaler_smote.fit(X_train_B_smote[quantitative_vars_B])

# Création des versions scalées
X_train_B_smote_scaled = X_train_B_smote.copy()
X_test_B_smote_scaled  = X_test_B_enc.copy()

# Application du scaling
X_train_B_smote_scaled[quantitative_vars_B] = scaler_smote.transform(X_train_B_smote[quantitative_vars_B])
X_test_B_smote_scaled[quantitative_vars_B]  = scaler_smote.transform(X_test_B_enc[quantitative_vars_B])

In [38]:
X_train_B_scaled[quantitative_vars_B].describe().T

,count,mean,std,min,25%,50%,75%,max
age,3390.0,-3.033955e-16,1.000148,-2.057864,-0.890345,-0.073082,0.744181,2.378708
cigarettes_par_jour,3390.0,4.191993e-18,1.000148,-0.751499,-0.751499,-0.751499,0.921185,5.102894
cholesterol_total,3390.0,-1.236638e-16,1.000148,-2.940706,-0.687939,-0.050793,0.586353,8.277616
tension_sys,3390.0,-4.988471e-16,1.000148,-2.221949,-0.699199,-0.199192,0.528092,7.391831
tension_dia,3390.0,4.506392e-16,1.000148,-2.932735,-0.701441,-0.069943,0.561555,4.476844
imc,3390.0,-2.095996e-17,1.000148,-2.495116,-0.664163,-0.100793,0.546961,7.524130
frequence_cardiaque,3390.0,-6.287989e-17,1.000148,-2.656700,-0.659185,-0.076576,0.589262,5.583050
glucose,3390.0,-2.389436e-16,1.000148,-1.808864,-0.417677,-0.156829,0.147493,13.581143

In [ ]:
# Verification des dimensions finales
print("A1 - RAW :", X_train_B_enc.shape)
print("A2 - SCALED :", X_train_B_scaled.shape)

print("B1 - SMOTE RAW :", X_train_B_smote.shape)
print("B2 - SMOTE SCALED :", X_train_B_smote_scaled.shape)

print("TEST RAW :", X_test_B_enc.shape)
print("TEST SCALED :", X_test_B_scaled.shape)
print("TEST SMOTE SCALED :", X_test_B_smote_scaled.shape)

A1 - RAW : (3390, 17)
A2 - SCALED : (3390, 17)
B1 - SMOTE RAW : (5750, 17)
B2 - SMOTE SCALED : (5750, 17)
TEST RAW : (848, 17)
TEST SCALED : (848, 17)
TEST SMOTE SCALED : (848, 17)

In [40]:
y_train_B.value_counts(normalize=True)
y_train_B_smote.value_counts(normalize=True)

maladie_cardiaque_10ans
0.0    0.5
1.0    0.5
Name: proportion, dtype: float64

In [ ]:
# sauvegarde des datasets finaux
import os

# 1. Création du dossier si nécessaire
save_path = "../BASES_FINALES_B"
os.makedirs(save_path, exist_ok=True)

# -----------------------------
# 2. Sauvegarde TRAIN
# -----------------------------
X_train_B_enc.to_csv(f"{save_path}/X_train_A1_raw.csv", index=False)
X_train_B_scaled.to_csv(f"{save_path}/X_train_A2_scaled.csv", index=False)

X_train_B_smote.to_csv(f"{save_path}/X_train_B1_smote.csv", index=False)
X_train_B_smote_scaled.to_csv(f"{save_path}/X_train_B2_smote_scaled.csv", index=False)

y_train_B.to_csv(f"{save_path}/y_train_A_raw.csv", index=False)
y_train_B_smote.to_csv(f"{save_path}/y_train_B_smote.csv", index=False)

# -----------------------------
# 3. Sauvegarde TEST
# -----------------------------
X_test_B_enc.to_csv(f"{save_path}/X_test_raw.csv", index=False)
X_test_B_scaled.to_csv(f"{save_path}/X_test_scaled.csv", index=False)

y_test_B.to_csv(f"{save_path}/y_test.csv", index=False)

print("✔ Sauvegarde terminée !")

✔ Sauvegarde terminée !

In [42]:
os.listdir(save_path)

['X_test_raw.csv',
 'X_test_scaled.csv',
 'X_train_A1_raw.csv',
 'X_train_A2_scaled.csv',
 'X_train_B1_smote.csv',
 'X_train_B2_smote_scaled.csv',
 'y_test.csv',
 'y_train_A_raw.csv',
 'y_train_B_smote.csv']